 {% extends "base.html" %}
{% load bootstrap5 %}
{% block "main" %}
<div class="container-sm">
    <h1>{{ title }}</h1>
  </div>

    <div class="container-sm">
    <h2 class="text-center">Новое резюме</h2>
  </div>

        <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-8">
          <form method="post" action="{% url 'slaves:create' %}" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">Отправить</button>
            {% endbuttons %}
          </form>
        </div>
            <div class="col-sm-0 col-md-4">
                <h5>Текст</h5>
                <p>Мотивирующий текст</p>
                <p>Мотивирующий текст</p>
                <p>Мотивирующий текст</p>
                <p>Мотивирующий текст</p>
                <p>Мотивирующий текст</p>
            </div>
      </div>
    </div>
{% endblock %}