{% extends 'base.html' %}

{% block "head_title" %}Видео{% endblock %}

{% block "main" %}
<div class="container">
    <div class="row">
        {% for video in queryset %}
        <div class="col-4">
            <div>
                <iframe src="{{ video.url }}"
                        title="{{ video.title }}" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
            <div>
                <p>{{ forloop.counter }}: {{ video.title }}</p>
            </div>
            {% if video.desc %}
            <div>
                <p><small>{{ video.desc }}</small></p>
            </div>
            {% endif %}
        </div>
        {% if forloop.counter|divisibleby:"3" %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}

